@model BugTracker.Models.Ticket
@using BugTracker.Services.Interfaces;
@using BugTracker.Models.Enums.Enums

@inject IBTFileService _BTFileService
@inject IBTTicketService _TicketService
@inject IBTTicketHistoryService _HistoryService
@inject IBTProjectService _projectService
@{
    
    ViewData["Title"] = "Details";
}

<!-- -------------------------------------------------------------- -->
<!-- Container fluid  -->
<!-- -------------------------------------------------------------- -->
<div class="container-fluid page-content">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <!-- basic table -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@Model.Title</h4> @Model.Description
                    <h6>On Project: <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">@Model.Project.Name</a></h6>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ticket Replies</h4>
                    <ul class="list-unstyled mt-5">
                        @foreach (TicketComment ticketComment in Model.Comments)
                        {
                            <li class="d-flex align-items-start">
                                <img class="userimg rounded-circle m-2" src="@_BTFileService.ConvertByteArrayToFile(ticketComment.User.ImageFileData!,ticketComment.User.ImageFileType!,(int)DefaultImage.BTUserImage)" height="50"  alt="User Images">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><span data-text="@ticketComment.User.FullName" class="text-primary">@ticketComment.User.FullName</span></h5> @Html.Raw(ticketComment.Comment)
                                    <p>@ticketComment.Created.ToString("MMM dd, yyyy hh:mm tt")</p>
                                </div>
                            </li>
                            
                            <hr />
                        }
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h4 class="mb-3">Write a reply</h4>
                    <form asp-action="AddTicketComment" asp-controller="Tickets" method="post">
                        <input type="hidden" asp-for="Id" name="TicketId" />
                        <label for="message"></label>
                        <textarea id="mymce" name="comment" rows="8" class="w-50"></textarea>
                        <button type="submit" name="submit" value="Post Comment" class="mt-3 btn waves-effect waves-light btn-success">Leave a reply</button>
@*                        <button type="button" class="mt-3 btn waves-effect waves-light btn-info">Reply & close</button>*@
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Submit an Attachment</h4>
                    <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data"  method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" name="TicketId" />
                        <label>
                            Description
                            <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                        </label><br />
                        <label class="btn btn-outline-primary btn-sm">
                            <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="form-control-file" />
                        </label>
                        <button type="submit" name="submit" value="Post Comment" class="mt-3 btn waves-effect waves-light btn-success">Submit Attachment</button>
                        @*                        <button type="button" class="mt-3 btn waves-effect waves-light btn-info">Reply & close</button>*@
                    </form>
                    @foreach (TicketAttachment item in Model.Attachments)
                    {
                        <div class="col col-sm-2">
                            <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                <div class="icon">
                                    <img src="@_BTFileService.GetFileIcon(item.FileName)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                                </div>
                            </a>
                            <div style="font-size:x-small">
                                <div class="file-name">
                                    <strong>@item.Description</strong>
                                </div>
                                <small>Size: @_BTFileService.FormatFileSize(item.FileData.Length)  </small>
                            </div>
                        </div>
                       @* <a asp-action="Delete" asp-controller="TicketAttachments" asp-route-id="@item.Id" class="btn btn-outline-secondary rounded-pill btnLink">Do you want to remove attachment?</a>*@
                    }
                    
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Ticket Info</h4>
                </div>
                <div class="card-body bg-extra-light">
                    <div class="row text-center">
                        <div class="col-7 my-2 text-start">
                            <strong class=" fs-3 mb-3">Ticket Status: </strong> <span class="badge bg-success  fs-3 mb-3">@Model.TicketStatus.Name</span>
                            </br>
                            <strong class=" fs-3 mb-3">Ticket Type: </strong> <span class="badge bg-info fs-3 mb-3">@Model.TicketType.Name</span>
                            </br>
                            <strong class=" fs-3 mb-3">Ticket Priority: </strong> <span class="badge bg-danger  fs-3 mb-3">@Model.TicketPriority.Name</span>
                        </div>
                        <div class="col-5 my-2">
                            <strong class=" fs-3 mb-3">Created: </strong> <span class=" badge bg-secondary fs-3 mb-3">@Model.Created.ToString("MMM dd, yyyy")</span>
                            <strong class=" fs-3 mb-3">Deadline: </strong> <span class=" badge bg-light-danger text-danger fs-3 mb-3">@Model.Project.EndDate.ToString("MMM dd, yyyy")</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="pt-1">Ticket Developer</h5>
                    <span class="text-primary"><strong>@(Model.DeveloperUser?.FullName ?? "Unassigned")</strong></span>
                    <h5 class="mt-4">Project Manager</h5>
                    <span class="text-primary font-weight-bold"><strong>
                        @{
                            BTUser? currentPM = await _projectService.GetProjectManagerAsync(Model.ProjectId);
                            string fullName = currentPM?.FullName ?? "Unassigned";
                        }
                        @fullName
                        </strong>
                    </span>
                    <br />
                    <br />
                    <hr />
                    <a type="button" asp-action="Edit" asp-controller="Tickets" asp-route-id="@Model.Id" class="mt-3 btn waves-effect waves-light btn-warning">Edit This Ticket </a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="AssignTicketDev" asp-controller="Tickets" asp-route-id="@Model.Id" class="mt-3 btn waves-effect waves-light btn-primary">Assign Developer</a>
                    }
                    @if (User.IsInRole("ProjectManager"))
                    {
                        <a asp-action="AssignTicketDev" asp-controller="Tickets" asp-route-id="@Model.Id" class="mt-3 btn waves-effect waves-light btn-primary">Assign Developer</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="TicketArchive" asp-route-id="@Model.Id" class="mt-3 btn waves-effect waves-light btn-danger">Archive This Ticket</a>
                    }
                    @if (User.IsInRole("ProjectManager"))
                    {
                        <a asp-action="TicketArchive" asp-route-id="@Model.Id" class="mt-3 btn waves-effect waves-light btn-danger">Archive This Ticket</a>
                    }
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ticket History</h4>
                    <div id="visitor" style="height:290px; width:100%;" class="mt-3">
                        @foreach (TicketHistory history in Model.Histories)
                        {
                            <p><strong>@history.Description</strong></p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->