@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "ListTicketsByDeveloper";
}


<!-- -------------------------------------------------------------- -->
<!-- Container fluid  -->
<!-- -------------------------------------------------------------- -->
<div class="container-fluid page-content">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">My Tickets</h4>
                    <div class="table-responsive mt-4">
                        <table id="zero_config" class="table table-bordered no-wrap fs-3">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TicketStatus)</th>
                                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                                    <th>@Html.DisplayNameFor(model => model.Project)</th>
                                    <th>@Html.DisplayNameFor(model => model.Created)</th>
                                    <th>@Html.DisplayNameFor(model => model.Updated)</th>
                                    <th>@Html.DisplayNameFor(model => model.TicketType)</th>
                                    <th>@Html.DisplayNameFor(model => model.TicketPriority)</th>
                                    <th>@Html.DisplayNameFor(model => model.DeveloperUser)</th>
                                    <th>Edit | Details | Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><span class="badge bg-light-warning text-warning font-weight-medium">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</span></td>
                                        <td><a href="ticket-detail.html" class="font-weight-medium link">@Html.DisplayFor(modelItem => item.Title)</a></td>
                                        <td><a href="ticket-detail.html" class="fw-bold link">@Html.DisplayFor(modelItem => item.Project.Name)</a></td>
                                        <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                                        <td> @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill text-warning fs-6 p-2"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle text-info fs-6 p-2"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger fs-6 p-2"></i></a>
                                        </td>
                                    </tr>
                                }
                                <i class="bi bi-info-circle text-info fs-6"></i>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Ticket Status</th>
                                    <th>Title</th>
                                    <th>Project</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Ticket Type</th>
                                    <th>Ticket Priority</th>
                                    <th>Developer</th>
                                    <th>Edit | Details | Delete</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->
