@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.Services.Interfaces;
@using BugTracker.Models.Enums.Enums;

@inject IBTProjectService _ProjectService


@{
    ViewData["Title"] = "MyTicketsIndex";
    Ticket ticket = new();
}



<!-- -------------------------------------------------------------- -->
<!-- Container fluid  -->
<!-- -------------------------------------------------------------- -->
<div class="container-fluid page-content">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tickets</h4>
                    @*Info Pills Go here *@
                    <div class="table-responsive mt-4" style="overflow-y:auto;height:600px;">
                        <table id="zero_config" class="dt-responsive table table-bordered table-striped no-wrap fs-3">
                            <thead>
                                <tr class="fs-4 font-weight-bold">
                                    <th role="button"><i class="bi bi-sort-down"></i>Project Manager</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.DeveloperUser)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.TicketStatus)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.Title)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.Project)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.TicketType)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.TicketPriority)</th>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <th> Assign Developer | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("ProjectManager"))
                                    {
                                        <th>Assign Developer | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("Developer"))
                                    {
                                        <th>Edit | Details </th>
                                    }
                                    @if (User.IsInRole("Submitter"))
                                    {
                                        <th>Edit | Details </th>
                                    }

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                BTUser? currentPM = await _ProjectService.GetProjectManagerAsync(item.ProjectId);
                                                string fullName = currentPM?.FullName ?? "Unassigned";
                                            }
                                            @fullName
                                        </td>
                                        <td>@(item.DeveloperUser?.FullName ?? "Unassigned")</td>
                                        <td><span class="badge bg-light-success text-success font-weight-medium fs-3">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</span></td>
                                        <td><span class="font-weight-medium link">@Html.DisplayFor(modelItem => item.Title)</span></td>
                                        <td><a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" class="fw-bold link">@Html.DisplayFor(modelItem => item.Project.Name)</a></td>
                                       @* <td>@item.Created.ToString("MMM dd, yyyy") </td> *@
@*                                        <td>@(item.Updated.HasValue ? item.Updated.Value.ToString("MMM dd, yyyy") : item.Created.ToString("MMM dd, yyyy"))</td>*@
                                        <td><span class="badge bg-light-info text-info font-weight-medium fs-3">@Html.DisplayFor(modelItem => item.TicketType.Name)</span></td>
                                        <td><span class="badge bg-light-danger text-danger font-weight-medium fs-3">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>

                                        <td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-action="AssignTicketDev" asp-controller="Tickets" asp-route-id="@item.Id">Assign Developer</a> <span>|</span>
                                            }
                                            @if (User.IsInRole("ProjectManager"))
                                            {
                                                <a asp-action="AssignTicketDev" asp-controller="Tickets" asp-route-id="@item.Id">Assign Developer</a> <span>|</span>
                                            }
                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill text-warning fs-6 p-2"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle text-info fs-6 p-2"></i></a>

                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-action="TicketArchive" asp-route-id="@item.Id"><i class="bi bi-archive text-danger fs-6 p-2"></i></a>
                                            }
                                            @if (User.IsInRole("ProjectManager"))
                                            {
                                                <a asp-action="TicketArchive" asp-route-id="@item.Id"><i class="bi bi-archive text-danger fs-6 p-2"></i></a>
                                            }

                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr class="fs-4 font-weight-bold">
                                    <th>Project Manager</th>
                                    <th>Developer User</th>
                                    <th>Ticket Status</th>
                                    <th>Title</th>
                                    <th>Project</th>
                                    <th>Ticket Type</th>
                                    <th>Ticket Priority</th>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <th> Assign Developer | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("ProjectManager"))
                                    {
                                        <th> Assign Developer | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("Developer"))
                                    {
                                        <th>Edit | Details </th>
                                    }
                                    @if (User.IsInRole("Submitter"))
                                    {
                                        <th>Edit | Details </th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->
@section scripts{
    <script>
        let table = new DataTable('#zero_config');
    </script>
    <!-- -------------------------------------------------------------- -->
    <!-- All Jquery -->
    <!-- -------------------------------------------------------------- -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <script src="../../dist/js/app.min.js"></script>
    <script src="../../dist/js/app.init.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/feather.min.js"></script>
    <script src="../../dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
    <script src="../../dist/js/pages/datatable/datatable-basic.init.js"></script>
}

