@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using BugTracker.Models.Enums.Enums

@inject IBTFileService _BTFileService
@inject IBTProjectService _ProjectService
@*@inject AssignPMViewModel viewModel*@


@{
    ViewData["Title"] = "Index";



}


@if (User.IsInRole("Admin"))
{
    <p>
        <a value="Create" class="btn btn-info rounded-pill px-4 waves-effect waves-light" asp-action="Create">Create New Project</a>

    </p>
}
@if (User.IsInRole("ProjectManager"))
{
    <p>
        <a value="Create" class="btn btn-info rounded-pill px-4 waves-effect waves-light" asp-action="Create">Create New Project</a>

    </p>
}


<!-- -------------------------------------------------------------- -->
<!-- Container fluid  -->
<!-- -------------------------------------------------------------- -->
<div class="container-fluid page-content">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                    @*Info Pills go here*@
                    <div class="table-responsive mt-4" style="overflow-y:auto;height:600px;">
                        <table id="zero_config" class="table table-bordered table-striped no-wrap fs-3">
                            <thead>

                                <tr class="fs-4 font-weight-bold">
                                    <th role="button"><i class="bi bi-sort-down"></i>Project Manager</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.Created)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.StartDate)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.EndDate)</th>
                                    <th role="button"><i class="bi bi-sort-down"></i>@Html.DisplayNameFor(model => model.ProjectPriority)</th>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <th> Assign Project Managers & Members <div></div>| Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("ProjectManager"))
                                    {
                                        <th> Assign Members | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("Developer"))
                                    {
                                        <th>Edit | Details</th>
                                    }
                                    @if (User.IsInRole("Submitter"))
                                    {
                                        <th>Edit | Details </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                BTUser? currentPM = await _ProjectService.GetProjectManagerAsync(item.Id);
                                                string fullName = currentPM?.FullName ?? "Unassigned";
                                            }
                                            @fullName
                                        </td>
                                        <td><span class="font-weight-medium ">@Html.DisplayFor(modelItem => item.Name) <div></div><img src="@_BTFileService.ConvertByteArrayToFile(item.ImageFileData!,item.ImageFileType!,(int)DefaultImage.ProjectImage)" alt="Project Image" height="100" class="rounded-3 m-2" id="projectimage" /></span></td>
                                        <td>@item.Created.ToString("MMM dd, yyyy") </td>
                                        <td>@item.StartDate.ToString("MMM dd, yyyy") </td>
                                        <td>@item.EndDate.ToString("MMM dd, yyyy") </td>
                                        <td><span class="badge bg-light-danger text-danger font-weight-medium fs-3">@Html.DisplayFor(modelItem => item.ProjectPriority.Name)</span></td>
                                        <td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-action="AssignPM" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#assignPMModal"><i class="bi bi-person-vcard-fill text-primary fs-6 p-2"></i></a> <span>|</span>
                                            }
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-action="AssignProjectMembers" asp-route-id="@item.Id"><i class="bi bi-person-plus text-primary fs-6 p-2"></i></a> <span>|</span>
                                            }
                                            @if (User.IsInRole("ProjectManager"))
                                            {
                                                <a asp-action="AssignProjectMembers" asp-route-id="@item.Id"><i class="bi bi-person-plus text-primary fs-6 p-2"></i></a> <span>|</span>
                                            }


                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill text-warning fs-6 p-2"></i></a> <span>|</span>
                                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle text-info fs-6 p-2"></i></a><span>|</span>


                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-action="ProjectArchive" asp-route-id="@item.Id"><i class="bi bi-archive text-danger fs-6 p-2"></i></a>
                                            }
                                            @if (User.IsInRole("ProjectManager"))
                                            {
                                                <a asp-action="ProjectArchive" asp-route-id="@item.Id"><i class="bi bi-archive text-danger fs-6 p-2"></i></a>
                                            }




                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="fs-4 font-weight-bold">
                                    <th>Project Manager</th>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Created)</th>
                                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.ProjectPriority)</th>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <th> Assign Members & Project Managers <div></div> | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("ProjectManager"))
                                    {
                                        <th> Assign Members | Edit | Details | Archive</th>
                                    }
                                    @if (User.IsInRole("Developer"))
                                    {
                                        <th>Edit | Details </th>
                                    }
                                    @if (User.IsInRole("Submitter"))
                                    {
                                        <th>Edit | Details </th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!---MODALS->


<!--ASSIGN PM MODAL -->



<div class="modal fade" id="assignPMModal" tabindex="-1" aria-labelledby="assignPMModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="d-flex justify-content-center mt-5 flex-column align-items-center">
                <h3 class="my-5">Assign Project Manager</h3>
                <div class="card">
                    <div class="card-header">
@*                        <div class="card-title">@viewModel.Project?.Name</div>
                    </div>
                    <div class="card-body">
                        <form asp-action="AssignPM" asp-controller="Projects" method="post" class="d-flex flex-column">
                            <input type="hidden" asp-for="Model.Project!.Id" />
                            <select asp-items="viewModel.PMList" asp-for="PMId">
                                <option value="">Unassigned</option>
                            </select>
                            <span asp-validation-for="PMId" class="text-danger"></span>
                            <button type="submit" class="btn btn-primary my-3">Save</button>
                            <a asp-action="Details" asp-route-id="@viewModel.Project?.Id" class="btn btn-secondary">Cancel</a>
                        </form>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<!-- All Jquery -->
<!-- -------------------------------------------------------------- -->
@section scripts{
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <script src="../../dist/js/app.min.js"></script>
    <script src="../../dist/js/app.init.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/feather.min.js"></script>
    <script src="../../dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
    <script src="../../dist/js/pages/datatable/datatable-basic.init.js"></script>
}

