@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject IBTFileService _BTFileService


@{
    ViewData["Title"] = "MyProjectsIndex";


}

<p>
    <a value="Create" class="btn btn-info rounded-pill px-4 waves-effect waves-light" asp-action="Create">Create New Project</a>

</p>

<!-- -------------------------------------------------------------- -->
<!-- Container fluid  -->
<!-- -------------------------------------------------------------- -->
<div class="container-fluid page-content">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">My Projects</h4>

                    <div class="table-responsive mt-4">
                        <table id="zero_config" class="table table-bordered table-striped no-wrap fs-3">
                            <thead>
                                <tr class="fs-4 font-weight-bold">
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Created)</th>
                                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.Company)</th>
                                    <th>@Html.DisplayNameFor(model => model.ProjectPriority)</th>
                                    <th>Edit | Details | Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><span class="font-weight-medium ">@Html.DisplayFor(modelItem => item.Name)</span></td>
                                        <td><span href="ticket-detail.html"> @Html.DisplayFor(modelItem => item.Created)</span></td>
                                        <td><span href="ticket-detail.html" class="font-weight-medium "> @Html.DisplayFor(modelItem => item.StartDate)</span></td>
                                        <td><span class="font-weight-medium ">@Html.DisplayFor(modelItem => item.EndDate)</span></td>
                                        <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProjectPriority.Name)</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill text-warning fs-6 p-2"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle text-info fs-6 p-2"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger fs-6 p-2"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Created)</th>
                                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.Company)</th>
                                    <th>@Html.DisplayNameFor(model => model.ProjectPriority)</th>
                                    <th>Edit | Details | Delete</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- apps -->
<script src="../../dist/js/app.min.js"></script>
<script src="../../dist/js/app.init.js"></script>
<script src="../../dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="../assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="../../dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../../dist/js/feather.min.js"></script>
<script src="../../dist/js/custom.min.js"></script>
<!--This page plugins -->
<script src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
<script src="../../dist/js/pages/datatable/datatable-basic.init.js"></script>