@model BugTracker.Models.Project

@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using BugTracker.Models.Enums.Enums

@inject IBTFileService _BTFileService


@{
    ViewData["Title"] = "ProjectArchive";
}


@{


    Project project = new();

    Ticket ticket = new();
}


<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h2>Are you sure?</h2>
        <p class="text-lead text-muted fs-3">This project will be archived and no longer available for development.</p>
        <div class="card mb-3">
            <div class="row g-0">

                <div class="col-md-5">
                    <div class="card-body">


                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="Name" class="col-4 text-end control-label col-form-label"><strong>For the Project: </strong></label>
                            <div class="col-8 border-start pb-2 pt-2 ">
                                @Model.Name 
                            </div>
                        </div>
                        <hr class="text-muted"/>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="Name" class="col-4 text-end control-label col-form-label"><strong>Project Photo </strong></label>
                            <div class="col-8 border-start pb-2 pt-2 fs-5">
                                <img src="@_BTFileService.ConvertByteArrayToFile(project.ImageFileData!,project.ImageFileType!,(int)DefaultImage.ProjectImage)" height="100" class="rounded-3 m-3" id="projectimage" height="100" alt="Project Image" />
                            </div>
                        </div>
                        <hr class="text-muted" />
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="Created" class="col-4 text-end control-label col-form-label"><strong>Created on: </strong> </label>
                            <div class="col-8 border-start pb-2 pt-2  font-weight-medium fs-3">
                                @Model.Created.ToString("MMM dd, yyyy")
                            </div>
                        </div>
                        <hr class="text-muted" />
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="StartDate" class="col-4 text-end control-label col-form-label"><strong>Start Date: </strong> </label>
                            <div class="col-8 border-start pb-2 pt-2  font-weight-medium fs-3">
                                @Model.StartDate.ToString("MMM dd, yyyy")
                            </div>
                        </div>
                        <hr class="text-muted" />
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="EndDate" class="col-4 text-end control-label col-form-label"><strong>End Date: </strong></label>
                            <div class="col-8 border-start pb-2 pt-2 font-weight-medium fs-3">
                                @Model.EndDate.ToString("MMM dd, yyyy")
                            </div>
                        </div>
                        <hr class="text-muted" />
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="Company" class="col-4 text-end control-label col-form-label"><strong>Company: </strong></label>
                            <div class="col-8 border-start pb-2 pt-2 ">
                                @Model.Company.Name
                            </div>
                        </div>
                        <hr class="text-muted" />
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="ProjectPriority" class="col-4 text-end control-label col-form-label"><strong>Project Priority: </strong></label>
                            <div class="col-8 border-start badge bg-light-danger text-danger font-weight-medium fs-3 pb-2 pt-2 ">
                                @Model.ProjectPriority.Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="d-flex justify-content-between" asp-action="Archive">
            <input hidden asp-for="Id" />
            <a asp-action="Index" asp-controller="Projects" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
            <input type="submit" value="Archive" class="btn btn-danger rounded-pill btnLink">
        </form>
    </div>
</div>

@section scripts{
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <script src="../../dist/js/app.min.js"></script>
    <script src="../../dist/js/app.init.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/feather.min.js"></script>
    <script src="../../dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
    <script src="../../dist/js/pages/datatable/datatable-basic.init.js"></script>

}
